{% load static %}

<header class="navbar">

    <!-- Logo -->
    <div class="logo">

        <a href="{% url 'dashboard' %}">
            <img src="{% static 'accounts/img/logo.png' %}"
                 alt="SQUEEB Logo">
        </a>

    </div>

    <!-- Search -->
    <div class="search-box">

        <i class="fa fa-search"></i>

        <input
            type="text"
            placeholder="Search products and services">

    </div>

    <!-- Navigation -->
    <nav>

        <a href="{% url 'dashboard' %}">
            <i class="fa fa-home"></i>
            Home
        </a>

        <a href="{% url 'marketplace' %}">
            <i class="fa fa-store"></i>
            Marketplace
        </a>

        <a href="{% url 'earnings' %}">
            <i class="fa fa-coins"></i>
            Earn
        </a>

        <a href="{% url 'sell' %}">
            <i class="fa fa-tag"></i>
            Sell
        </a>

        <a href="{% url 'more_page' %}">
            <i class="fa fa-ellipsis-h"></i>
            More
        </a>

    </nav>

    <!-- Right Side -->
    <div class="nav-right">

        {% if user.is_authenticated %}

            <a href="{% url 'dashboard' %}" class="profile-link">

                <img src="{% static 'accounts/img/avatar.png' %}"
                     class="profile-avatar"
                     alt="Profile">

                <span>
                    {{ user.username }}
                </span>

            </a>

            <a href="{% url 'logout' %}" class="logout-btn">

                <i class="fa fa-power-off"></i>
                Logout

            </a>

        {% else %}

            <a href="{% url 'login' %}" class="login-btn">
                Login
            </a>

            <a href="{% url 'signup' %}" class="signup-btn">
                Sign Up
            </a>

        {% endif %}

    </div>

</header>